@charset "UTF-8";

body {
	background-color: #dddddd;
}

header#cabecalho img#icone {
	position: absolute;
	left: 150px;
	top: 0px;
	size: 51px;

}

header#cabecalho {
	border-bottom: 6px #606060 solid;
	opacity: 80%;
	height: 185px;
	width: 135%;
	background-color: #900202;
	margin-left: -162px;


}

div#interface {
	background-color: #ffffff;
	width: 1000px;
	margin: -130px auto 0px auto;
	box-shadow: 0px 0px 10px black;
	padding: 10px 40px 10px 10px;
}

nav#menu {
	display: block;
}

nav#menu ul {

	list-style: none;
	/*text-transform: uppercase; */
	position: absolute;
	top: 0px;
	left: 370px;
}

nav#menu li {

	display: inline-block;
	
	padding: 10px;
	margin: 5px;
	transition: background-color 1s;

}

nav#menu li:hover {
	background-color: #000000;


}

nav#menu a {
	font-size: 20px;
	text-decoration: none;
	
}

nav#menu a:hover {
	color: #ffffff;
	font-size: 28px;
	

}

div#center {

margin: 100px auto 30px 350px;


}
div#texto {
margin: 50px 30px 0px 70px;
}

figure.foto_legenda {
position: relative;
/*border: 8px solid white;*/
/*box-shadow: 1px 1px 4px black; */

}

figure.foto_legenda img {
margin: -15px 10px 10px -220px;
width: 120%;
height: 120%;

}

figure.foto_legenda figcaption {
margin: -10px 10px 10px -161px;
opacity: 0;
position: absolute;
top: 162px;
font-size: 71px;
background-color: rgba(0,0,0,.6);
color: white;
transition: 1s;

}
figure.foto_legenda:hover figcaption {
	opacity: 1;
}

h3 {
	margin-bottom: -20px;
	margin-top: 50px;
}

h4 {
	margin-bottom: -20px;
	margin-top: 50px;
}
img#prevencao {
	margin-left: 140px;
	border: 6px  solid;
}